# Godot 4+ specific ignores
.godot/

build/windows
build/mac
build/windows
build/submission
build/all
build/*.zip

# ignore obsidian data
.obsidian/
Report.md

# ignore .imports for images used in the report
Doc_Images/**/*.import
